.blog-single-image-left {

	.blog-single {
		margin-top: em(50, 22);
	}
	.blog-single-cover {
		margin-bottom: 2.727em;
	}
	.blog-single-title {
		letter-spacing: -0.01em;
	}
	.blog-single-content {
		padding-top: 1em;
	}
}