:root {
  --color-primary: #e2a8a8;
  --color-secondary: #8ac6d0;
  --color-gradient-start: #ecbabe;
  --color-gradient-stop: #8ac6d0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1.9em;
  font-weight: 400;
  color: #828282;
}

.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4,
.h5, h5,
.h6, h6 {
  font-family: 'Prata', sans-serif;
  color: #000000;
}

.h4, h4,
.h5, h5,
.h6, h6 {
  font-family: 'Playfair Display', serif;
}

.h1, h1 {
  font-size: 52px;
  line-height: 1.4em;
}

.h2, h2 {
  font-size: 42px;
  line-height: 1.3em;
}

.h3, h3 {
  font-size: 30px;
  line-height: 1.6em;
}

.h4, h4 {
  font-size: 25px;
  line-height: 1.7em;
}

.h5, h5 {
  font-size: 25px;
  line-height: 1.8em;
}

.h6, h6 {
  font-size: 18px;
  line-height: 1.6em;
}

#content {
  background-image: url(../../demo/bg/creative-content-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.secondarybar-wrap:first-child {
  background: -webkit-gradient(linear, left top, right top, from(#ecbabe), to(#8ac6d0));
  background: linear-gradient(90deg, #ecbabe 0%, #8ac6d0 100%);
}

.secondarybar .header-module {
  padding-top: 10px;
  padding-bottom: 10px;
}

.secondarybar .iconbox h3 {
  font-family: inherit;
}

.navbar-brand {
  padding-top: 25px;
  padding-bottom: 25px;
}

.main-nav > li > a {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #727475;
  text-transform: uppercase;
}

.main-nav > li.is-active > a,
.main-nav > li.current-menu-item > a,
.main-nav > li:hover > a,
.main-nav > li > a:hover {
  color: var(--color-primary);
}

.contact-form input,
.contact-form select,
.contact-form textarea,
.contact-form .ui-selectmenu-button {
  border-color: #f1f1f1;
  color: #fff;
}

.contact-form input:focus,
.contact-form select:focus,
.contact-form textarea:focus,
.contact-form .ui-selectmenu-button:focus {
  border-color: #fff;
  color: #fff;
}

.contact-form input[type=submit] {
  border: none;
  background: rgba(255, 255, 255, 0.9);
  color: #a3a3a3;
}

.ld-media-row {
  margin-left: -10px;
  margin-right: -10px;
}

.ld-media-row > div {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}

.main-footer {
  color: #a1a3ab;
}

.main-footer a:not(.btn) {
  color: #777981;
}

.main-footer a:not(.btn):hover {
  color: #fff;
}

.main-footer .social-icon a {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
}

.main-footer .social-icon a:hover {
  background-color: var(--color-primary);
}
