.ld-shop-notice {
	padding: 15px;
	background-color: #FBED3F;

	h3 {
		margin: 0;
		font-size: 14px;
		line-height: 1.5em;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.11em;
		line-height: 1.5em;
	}
}