#yith-wcwl-popup-message {
	padding: 0.5em 1.5em;
	margin: 0 !important;
	border: none;
	border-radius: 3px;
	top: auto;
	bottom: 30px;
	left: 30px;
	box-shadow: 0 15px 35px rgba(#000, 0.15);
	background-color: #333;
	line-height: 1.5em;
	color: #fff;
}