.ld-product-zoom {
	display: inline-flex;
	width: 45px;
	height: 45px;
	background: #fff;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 1.5em;
	right: 1.5em;
	z-index: 9;
	font-size: 20px;
	color: #000;
	border-radius: 50em;

	&:hover {
		background-color: #000;
		color: #fff;
	}
}