.ld-product-summary-foot {
	flex-wrap: wrap;

	:first-child {
		margin-left: 0 !important;
	}
	button[type=submit] {
		height: 50px;
		padding: 0 !important;
		margin-bottom: 15px;

		> span {
			padding-left: 33px;
			padding-right: 33px;
		}
	}
	.social-icon {
		margin-left: 22px;
		margin-bottom: 15px;

		li {

			a {

				&:hover {
					color: var(--color-primary);
				}
			}
		}
	}
}