@media all and ( max-width: $grid-breakpoint-md ) {
	
	.btn {
		white-space: normal;
	}
	/* Sizes*/
	.btn-xsm {
		
		> span {
			padding: 0.5em 0.8em;
		}
		
		&.wide {
			
			> span {
				padding-left: 1.5em;
				padding-right: 1.5em;
			}
		}
	}
	.btn-sm {
		
		> span {
			padding: 0.6em 1.2em;
		}
		
		&.wide {
			
			> span {
				padding-left: 2.5em;
				padding-right: 2.5em;
			}
		}
	}
	
	.btn-md {
		
		> span {
			padding: 1em 2em;
		}
	}
	
	.btn-lg {
		
		> span {
			padding: 1.15em 2.5em;
		}
		&.wide {
			
			> span {
				padding-left: 3.3em;
				padding-right: 3.3em;
			}
		}
	}
	
	.btn-xlg {
		
		> span {
			padding: 1.3em 3.1em;
		}
		&.wide {
			
			> span {
				padding-left: 4.1em;
				padding-right: 4.1em;
			}
		}
	}
}
