// Media Queries
@media screen and ( min-width: $grid-breakpoint-md ) {

	.fancy-box-offer {
		flex-flow: row wrap;

		.fancy-box-cell {

			&:first-child {
				flex-grow: 2;			
			}
			&:last-child {
				align-items: flex-end;
			}
		}
	}
}
@media screen and ( max-width: $grid-breakpoint-md - 1 ) {

	.fancy-box-offer {
		flex-flow: row wrap;

		.fancy-box-cell {
			flex-basis: auto;
			margin-bottom: 1.5em;
			
			&:before {
				content: attr(data-text);
				margin-bottom: 0.5em;
			}
		}
		.fancy-box-header {
			flex-basis: 100%;
		}
	}
	.fancy-box-offer-header {
		padding-bottom: 0;

		.fancy-box-cell:not(.fancy-box-header) {
			display: none;
		}
		.fancy-box-header {
			margin-bottom: 0;
		}
	}
}
@media screen and ( max-width: $grid-breakpoint-sm - 1 ) {

	.fancy-box-overlay {
		padding-bottom: 90%;
	}

	.fancy-box-travel {

		&.fancy-box-wide {
			padding-bottom: 50%;
		}
	}

	.fancy-box-offer {

		.fancy-box-cell {
			flex-basis: 50%;
		}
		.fancy-box-header {
			flex-basis: 100%;
		}
	}
}