.pf-hover-img-border {

	.ld-pf-image {
		perspective: 1200px;
		transition: clip-path 0.8s cubic-bezier(0.23, 1, 0.320, 1);
		clip-path: inset(0px);
	}

	&:hover {

		.ld-pf-image {
			clip-path: inset(10px);
		}
	}
}