.pf-hover-rise {

	.ld-pf-image {
		transition: transform 0.45s cubic-bezier(0.23, 1, 0.320, 1);
		
		&.shadowed {
			transition: transform 0.45s cubic-bezier(0.23, 1, 0.320, 1), box-shadow 0.45s cubic-bezier(0.23, 1, 0.320, 1);
		}
	}
	&:hover {

		.ld-pf-image {
			transform: translateY(-5px);

			&.shadowed {
				box-shadow: 0 25px 70px rgba(#000, 0.1);
			}
		}
	}
}