.one-bullet-list {
	margin-bottom: 30px;

	li {
		display: flex;
		align-items: center;
		margin-bottom: 0.5em;

		&:before {
			content: '';
			display: inline-block;
			width: 4px;
			height: 4px;
			margin-right: 1em;
			border-radius: 50em;
			background-color: var(--color-primary);
		}
	}

	.inline-nav {

		li {
			display: inline-flex;

			+ li {
				margin-left: 2.5em;
			}
		}
	}
}