.ld-carousel-phone {
	position: relative;
	
	.mockup-container {
		position: relative;
		z-index: 1;
		user-select: none;
		pointer-events: none;

		img {
			width: 325px;
		}
	}
	.mockup-content-container {
		width: 100%;
		position: absolute;
		top: 2.5%;
		bottom: 2.75%;
		left: 0;
		z-index: 0;
		overflow: hidden;
	}
	.carousel-item,
	.carousel-item-inner,
	.flickity-viewport,
	.carousel-container,
	.carousel-items,
	.mockup-content-inner {
		height: 100% !important;
	}
	.carousel-item {
		max-width: 365px;
		padding: 0;
		margin: 0 1%;

		img {
			width: 100%;
			border-radius: 35px;
		}
	}
	.carousel-item-inner {
		margin: 0 40px;
		position: relative;
	}

	.is-selected {

		.carousel-item-inner:after {
			opacity: 0;
		}
	}
}