[data-custom-animations=true] {
	visibility: hidden;
	opacity: 0;
}
.ca-initvalues-applied {
	visibility: visible;
	opacity: 1;
}

.compose-mode {
	
	[data-custom-animations=true] {
		visibility: visible !important;
		opacity: 1 !important;
	}
}