@mixin inputs {

	select,
	input,
	textarea,
	.ui-selectmenu-button {
		@content;
	}
}
.liquid-form-tour {
	display: flex;
	flex-flow: row wrap;
	padding: 40px 30px 20px;
	box-shadow: 0 20px 50px rgba(#000, 0.07);

	@include inputs {
		padding-left: 25px;
		padding-right: 25px;
		border-color: transparent;
		box-shadow: 0 0 7px rgba(#000, 0.07) inset;
		background-color: #f4f5f7;

		&:focus {
			box-shadow: 0 0 0 rgba(#000, 0.07);
		}
	}
	.input-container {
		flex: 1 auto;
		margin: 10px 0.4%;

		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}
	.liquid-tour-hot-destinations {
		margin-top: 1em;
		margin-bottom: 0.5em;
	}
}

.liquid-tour-hot-destinations {
	font-size: em(14);
	
	> span,
	> a {
		margin-right: 15px;
	}
	> span {
		color: #a7a9b8;

		i {
			margin-left: 15px;
		}
	}
	> a {

		&:after {
			content: '\2758';
			margin-left: 15px;
			color: #d8dbe2;
		}
		&:last-child:after {
			content: none;
		}
	}
}