.liquid-milestone {
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	margin-bottom: 2em;

	.liquid-milestone-time {
		margin: 0 15px 0 0;
		flex: 0 auto;
		font-size: 36px;
		line-height: 1em;
		font-weight: 700;
		letter-spacing: -0.01em;
		color: var(--color-primary);
	
		span {
			color: inherit;
		}
	}
}
.liquid-milestone-content {
	flex: 1 auto;
	overflow: hidden;

	h5 {
		margin: 0;
		font-weight: 700;
	}
	p {
		margin: 0;
	}
}