.ld-particles-container {
	width: 100%;
	height: 450px;

	.lqd-particles-bg-wrap & {
		height: 100%;
	}
}
.lqd-particles-bg-wrap,
.ld-particles-inner {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.lqd-particles-bg-wrap {
	top: 50%;
	transform: translateY(-50%);
}