.ld_widget_popular_entries {

	li {
		margin-bottom: 30px;
		font-size: 20px;
		line-height: 26px;

		figure {
			width: 100%;
			margin-bottom: 0.5em;

			img {
				width: 100%;
			}
		}
		span {
			display: block;
			margin-top: 0.15em;
			font-size: 15px;
		}
	}
}