.widget_product_search,
.widget_search {
	position: relative;

	label,
	input {
		width: 100%;
		display: block;
	}
	input {
		padding: 15px;
	}
	input[type=search] {
		border: 1px solid #dedede;
		padding-left: 45px;

		&:focus {
			outline: none;
			border-color: darken(#dedede, 15%);
		}
	}
}

.widget_search {

	label {
		position: relative;

		&:after {
			content: '\f002';
			font: normal normal 16px/1 fontAwesome;
		}
	}
	label:after,
	input[type=submit] {
		display: inline-flex;
		width: 32px;
		height: 100%;
		position: absolute;
		top: 0;
		left: 8px;
		align-items: center;
		justify-content: center;
	}
	input[type=submit] {
		border: none;
		background: none;
		opacity: 0;
	}
}

.widget_product_search {

	button[type=submit] {
		display: inline-block;
		width: 32px;
		height: 100%;
		position: absolute;
		top: 0;
		left: 8px;
		background: none;
		border: none;
		text-indent: -99999px;

		&:after {
			content: '\f002';
			display: inline-flex;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			text-indent: 0;
			align-items: center;
			justify-content: center;
			font: normal normal 16px/1 fontAwesome;
		}

		&:focus {
			outline: none;
		}
	}
}