.text-404 {

	.re-particles-inner {

		&:after {
			box-shadow: 0 0 15px 2px #12131a inset, 0 0 30px 2px #12131a inset, 0 0 45px 2px #12131a inset, 0 0 60px 2px #12131a inset;
		}
	}
}

body.search {
	
	.content {

		.entry-title {

			a {
				color: #fff;
			}
		}
	}
	.titlebar {
		border-color: 1px solid rgba(#fff, 0.07);
	}
}