.one-roadmap-mark {
	margin-left: 0;
	margin-right: auto;
}

.one-roadmap-bar {
	left: auto;
	right: 0;
}

.one-roadmap-item {
	padding-left: 0;
	padding-right: 30px;
}

.one-roadmap {
	padding-left: 40px;
	padding-right: 60px;
}