.testimonial {

	.testimonial-details {

		time,
		.star-rating {
			margin-left: 0;
			margin-right: auto;

			&:first-child {
				margin-right: 0;
			}
		}
	}
	.avatar {
		margin-right: 0;
		margin-left: 20px;
	}
}

.testimonial-quote-filled {

	.testimonial-quote {

		&:after {
			left: auto;
			right: calc(60px + 35px - 14px);
		}
	}
}

.testimonials-details {

	+ .carousel-nav {

		.flickity-prev-next-button {

			&.previous {
				left: auto;
				right: 0;
			}
			&.next {
				left: 0;
				right: auto;
			}
		}
	}
}