@media screen and ( max-width: $grid-breakpoint-md - 1 ) {

	.content {

		h1, .h1 {
			font-size: 44px;
		}
		h2, .h2 {
			font-size: 32px;
		}
		h3, .h3 {
			font-size: 24px;
		}
		h4, .h4 {
			font-size: 18px;
		}
		h5, .h5 {
			font-size: 16px;
		}
		h6, .h6 {
			font-size: 15px;
		}
	}
}
