.header-module {

  .text-lg-right & {
    align-items: flex-end;
  }
  .text-lg-left & {
    align-items: flex-start;
  }
  .text-lg-center & {
    align-items: center;
  }

  .navbar-collapse ~ & {
    margin-left: 25px;
  }
  
  .navbar-collapse:not(.navbar-fullscreen) & {
    display: none;
  }
}